*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

header{
    padding: 1rem;
}

.margin-right{
    margin-right: 15rem;
}

.margin-left{
    margin-left: 20rem;
}

.blue-button{
    background-color: blue;
    color: white;
    padding: .2rem;
    text-align: center;
}


.section1{
    background-color:#B4D0E7;
    width: 100%;
    text-align: center;
}

.container2{
    width: 100%;
    margin: 50px auto;
}

h1{
    font-size: 50px;
}

.firstbox{
    height: 100%;
    width: 40%;
    text-align: left;
    font-size: 18px;
}

.secondbox{
    height: 100%;
    width: 60%;
}

.column{
    flex-direction: column;
}

.space-around{
    justify-content: space-around;
}

div.secondbox>img{
    width: 650px;
}

.arrow{
    font-size: 60px;
}

.container{
    margin: 50px auto;
    width: 50%;
}

.section2{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.action{
    margin-top: 3rem;
}

.second-radio{
    margin-left: 3rem;
}

.container4{
    width: 800px;
    height: 1000px;
    margin-top: 3rem;
}

.colonna{
    width: 30%;
    border: lightgray 2px solid;
}

.container3{
  margin:0 auto;
  max-width: 700px;
}

.tag{
    border-bottom: lightgray 2px solid;
    padding: 1rem;
    text-align: center;
}

.underline{
    text-decoration: underline;
    color: blue;
}

hr{
    width: 50px;
    margin-top: 1rem;
}

li{
    list-style: none;
}

.colonna2{
    padding: 2rem;
}

div.colonna2>div{
    margin-top: .7rem;
    line-height: 2rem;
}

.subcolumn{
    width: 800px;
    margin-top: 3rem;
    border: lightgray 2px solid;
    text-align: left;
}

.subcolumn2{
    Padding: 2rem;
}
    


div.subcolumn2>h4{
    margin-top: 1.5rem;
}

div.subcolumn2>p{
    margin-top: 3rem;
}