*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

header{
    padding: 1rem;
}

.margin-right{
    margin-right: 15rem;
}

.margin-left{
    margin-left: 20rem;
}

.blue-button{
    background-color: blue;
    color: white;
    padding: .2rem;
    text-align: center;
}


.section1{
    background-color:#B4D0E7;
    width: 100%;
    text-align: center;
}

.container2{
    width: 100%;
    margin: 50px auto;
}

h1{
    font-size: 50px;
}

.firstbox{
    height: 100%;
    width: 40%;
    text-align: left;
    font-size: 18px;
}

.secondbox{
    height: 100%;
    width: 60%;
}

.column{
    flex-direction: column;
}

.space-around{
    justify-content: space-around;
}

div.secondbox>img{
    width: 650px;
}

.arrow{
    font-size: 60px;
}

.container{
    margin: 0px auto;
    width: 50%;
}

.section2{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.action{
    margin-top: 3rem;
}

.second-radio{
    margin-left: 3rem;
}

.container4{
    width: 800px;
    height: 1000px;
    margin-top: 3rem;
}

.colonna{
    width: 30%;
    border: lightgray 2px solid;
}

.container3{
  margin:0 auto;
  max-width: 850px;
}

.tag{
    border-bottom: lightgray 2px solid;
    padding: 1rem;
    text-align: center;
}

.underline{
    text-decoration: underline;
    color: blue;
}

hr{
    width: 50px;
    margin-top: 1rem;
}

li{
    list-style: none;
}

.colonna2{
    padding: 2rem;
}

div.colonna2>div{
    margin-top: .7rem;
    line-height: 2rem;
}

.subcolumn{
    width: 800px;
    margin-top: 3rem;
    border: lightgray 2px solid;
    text-align: left;
}

.subcolumn2{
    width: 70%;
}


.absolute{
    width: 30%;
    align-self: flex-start;
}


div.subcolumn2>h4{
    margin-top: 1.5rem;
}

div.subcolumn2>p{
    margin-top: 3rem;
}

.container5{
    padding: 2rem;
}

.container6{
    width: 850px;
    height: 400px;
    margin:0 auto ;
    margin-top: 5rem
}

.thirdbox{
    width: 60%;
    height: 100%;
   
}

.fourthbox{
    width: 40%;
    height: 100%;
    padding: 3rem;
}

div.thirdbox>img{
    width: 100%;
    height: 100%;
}

.button-white{
    border: 2px black solid;
    text-align: center;
    width: 120px;
    padding: .3rem;
    margin-top: 3rem;
    background-color: white;
}

div.fourthbox>p{
    margin-top: 2rem;
}

div.container2.flex>p{
    margin-top: 5rem;
}

.section4{

}

.container7{
    max-width: 850px;
    text-align: center;
    margin: 5rem auto;
    justify-content: center;
}

.wrap{
    flex-wrap: wrap;
}

.fifthbox{
    
    width: 23%;
    text-align: left;
    
}

div.fifthbox>img{
  width: 100%;
}

.row{
    justify-content: space-around;
}

.row2{
    justify-content: space-around;
    margin-top: 3rem;
}


div.fifthbox>div>p{
    margin-top: 2rem;
}

.row3{
    text-align: left;
    width: 60%;
    margin-top: 10rem;
}

div.row3>div.underline{
    margin-top: 4rem;
}

.section5{
    width: 100%;
    height: 700px;
    background-color: #B4D0E7;
}

.container8{
    width: 100%;
    height: 70%;
    
    
}

.card{
    width: calc(100% / 3);
    height: 100%;
   
}

div.card.flex.wrap>div{
    width: calc(100% / 2);
    height: calc(100% / 2);
    
}

div.card.flex.wrap>div>img{
    width: 60%;
    margin-top: 80px;
    margin-left: 50px;
    filter: invert();
}

#designit{
    background-color:#A2D39B ;
    border: 15px solid #D1E9CD;
}

#asu{
    background-color:#61082B ;
}

#uof{
    background-color: #0093CE;
}

#topps{
    background-color: #FF1C1C;
}

#bicycle{
    background-color: #D5001F;
}

#lonely{
    background-color: #0D2481;
}

#clear{
    background-color: #FFD830;
}

.middle-card{
    background-color: #F5F5F5;
    width: calc(100% / 3);
    height: 100%;
    padding: 3rem;
    
}

div.middle-card>img{
    width: 50%;
}

div.middle-card>div>p{
    margin-top: 45px;
}

.container9{
    height: 30%;
    width: 50%;
    margin: auto;
    
}

.sixth-box{
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #61082B;
}

div.sixth-box>h2{
    width: 60%;
}

.seventh-box{
    width: 40%;
    height: 100%;
    
    align-items: center;
    justify-content: center;
}

div.seventh-box>div{
    width: 80%;
    margin-bottom: 70px;
}